.headerComponentDiv {
    display: flex;
    justify-content: space-between;
    align-items: end;
    background: rgb(25, 25, 25);
    background: linear-gradient(90deg, rgba(25, 25, 25, 1) 0%, rgba(105, 105, 105, 1) 54%, rgba(128, 128, 128, 1) 100%);
}

.headerLogo {
    width: 150px;
    padding: 1%;
}

.buttonDiv {
    display: flex;
    align-items: end;
    gap: 20px;
}

.button {
    background-color: white;
    height: 50px;
    width: 85px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}